<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventStore" type="EventStoreService.EventStoreServiceConfiguration, EventStoreService, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <eventStore>
    <instance name="Production"
              filePath="eventstore\EventStore.SingleNode.exe"
              dbPath="db"
              logsPath="logs"
              cachedChunkCount="1"
              tcpPort="4532"
              httpPort="5500"
              useLoopback="false"
              runProjections="false" />
  </eventStore>

</configuration>
