<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eventStore" type="EventStoreService.EventStoreServiceConfiguration, EventStoreService, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <eventStore filePath="eventstore\EventStore.SingleNode.exe">

    <!--<instance name="LocalDev"
              dbPath="D:\code\eventday\!storage\eventstore\db"
              logsPath="D:\code\eventday\!storage\eventstore\db-logs"
              cachedChunkCount="1"
              tcpPort="4532"
              httpPort="5500"
              useLoopback="true"
              runProjections="false" />-->
    
    <instance name="Production"
              dbPath="production"
              logsPath="production-logs"
              cachedChunkCount="1"
              tcpPort="5632"
              httpPort="5501"
              useLoopback="false"
              runProjections="false"
              skipDbVerify="true" />

    <instance name="Testing"
              dbPath="testing"
              logsPath="testing-logs"
              cachedChunkCount="1"
              tcpPort="6632"
              httpPort="5502"
              useLoopback="false"
              runProjections="false"
              skipDbVerify="true"  />
  </eventStore>

</configuration>
